
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#allcontents" role="tab" data-toggle="tab">All Contents</a></li>
  <li><a href="#feeds" role="tab" data-toggle="tab">Feeds</a></li>
  <li><a href="#newfeed" role="tab" data-toggle="tab">Add New URL</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content tabbody">
  <div class="tab-pane active" id="allcontents">
    <%= render :partial => "rssfeeds/index" %>
  </div>
  <div class="tab-pane" id="feeds">
    <%= render :partial => "rssfeeds/list" %>
  </div>
  <div class="tab-pane" id="newfeed">
    <%= render :partial => 'rssfeeds/form' %>
  </div>
</div>